<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Family Management</title>
  </head>
  <body>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills mr-auto">
                    <li class="nav-item">
                        <a class="nav-link link-secondary" href="{{url_for('home')}}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="">Family Management</a>
                    </li>
                <li class="navbar-text ml-auto">Hi, {{ person.name }}!</li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Sign out</a></li>
            
                </ul>
                <br>
                <div class="row">
                    
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-header">
                            <h1>
                                Welcome!
                            </h1>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h3>
                                    Add a member to your family!
                                </h3>
                                <form role="form" method = 'POST'>
                                    <div class="form-group">
                                        <label for="name">
                                           Name
                                        </label>
                                        <input type="name" class="form-control" id="name" name="new_name_input" required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="member_email">
                                            Email address of the member
                                        </label>
                                        <input type="text" class="form-control" id="member_email" name = 'new_email_input'/>
                                    </div>
                                    <div class="form-group">
                                         
                                        <label for="member_password">
                                            Password for member
                                        </label>
                                        <input type="password" class="form-control" id="member_password" name = 'new_password_input'/>
                                    </div>
                                    <button type="submit" class="btn btn-primary">
                                        Submit
                                    </button>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <h3>
                                    Add a task for your family!
                                </h3>
                                <form role="form">
                                    <div class="form-group">
                                        <label for="task_name">
                                            Task Name:
                                        </label>
                                        <input type="text" class="form-control" id="task_name" name="task_name_input" placeholder = "Walk Yumi/feed Yumi"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="task_date">
                                            Date:
                                        </label>
                                        <input type="date" id="task_date" name="task_date" value="{{ request.cookies.get('task_date')}}"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="task_start_time">
                                            Start Time:
                                        </label>
                                        <input type="time" id="task_start_time" name="task_start_time" value="{{ request.cookies.get('task_start_time')}}"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="task_end_time">
                                            End Time:
                                        </label>
                                        <input type="time" id="task_end_time" name="task_end_time" value = "{{ request.cookies.get('task_end_time')}}" />
                                    </div>
                                    <div class ='form-group'>
                                        <label for="repeat">
                                            Repeat every 7 days for 1 month
                                        </label>
                                        <input type = "checkbox" name = "repeat_7_days">
                                    </div>
                                    <button type="submit" class="btn btn-primary">
                                        Submit
                                    </button>
                                </form>     
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if error_message %}
    <script>
        $(document).ready(function(){
            $('#errorModal').modal('show');
        });
    </script>

    <!-- Error Modal -->
    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel">Error</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ error_message }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}

</body>
</html>


