<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Family Management</title>
  </head>
  <body>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills mr-auto">
                    <li class="nav-item">
                        <a class="nav-link link-secondary" href="home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="">Family Management</a>
                    </li>
                <li class="navbar-text ml-auto">Hi, {{ person.name }}!</li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Sign out</a></li>
            
                </ul>
                <br>
                <div class="row">
                    
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-header">
                            <h1>
                                Welcome!
                            </h1>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h3>
                                    Add a memeber to your family!
                                </h3>
                                <form role="form">
                                    <div class="form-group">
                                         
                                        <label for="member_email">
                                            Email address of the member
                                        </label>
                                        <input type="email" class="form-control" id="member_email" />
                                    </div>
                                    <div class="form-group">
                                         
                                        <label for="member_password">
                                            Password for member
                                        </label>
                                        <input type="password" class="form-control" id="member_password" />
                                    </div>
                                    <button type="submit" class="btn btn-primary">
                                        Submit
                                    </button>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <h3>
                                    Add a task for your family!
                                </h3>
                                <form role="form">
                                    <div class="form-group">
                                         
                                        <label for="task_name">
                                            Task Name:
                                        </label>
                                        <input type="email" class="form-control" id="task_name" />
                                    </div>
                                    <div class="form-group">
                                        <label for="task date">
                                            Time start
                                        </label>
                                        <input type="datetime-local" id="task_time_start" name="task_time_end">
                                    <div class="form-group">    
                                        <label for="task date">
                                            Time end
                                        </label>
                                        <input type="datetime-local" id="task_time_end" name="task_time_end">
                                    </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">
                                        Submit
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>


